extends ../layout

block content
  script(src="/scripts/list.js")

  .d-flex.flex-grow-1
    .lists-container.d-flex.flex-column.bg-light.p-4
      div.d-flex.justify-content-between
        h3 Lists
        a.btn.btn-success(href="/lists/new")
          i.fas.fa-plus
      div.pt-4.lists
        each list in lists
          a.btn(href="/lists/" + list.name class="btn").card.card-success.mb-2
            h4= list.name

    .tasks.flex-grow-1.p-5
      
      .d-flex.justify-content-between.mb-2
        h3 Tasks
        a.btn.btn-primary(href="/lists/" + list + "/new") Add
      
      table.table.table-hover(style="table-layout: auto;")
        thead
          tr 
            th Name
            th.fit
            th Complete
        tbody
          each task in tasks
            if !task.complete
              tr
                td(colspan="2")= task.name
                td.fit.text-center
                  input.complete-checkbox(type="checkbox" data-task-id=task.id checked="false")

      table.table.table-hover(style="table-layout: auto;")
        thead
          tr 
            th Name
            th.fit
            th Complete
        tbody
          each task in tasks
            if task.complete
              tr
                td(colspan="2")= task.name
                td.fit.text-center
                  input.complete-checkbox(type="checkbox" data-task-id=task.id checked="true")