extends ../layout
  
block content
  script(src="/scripts/list.js")

  .d-flex.flex-grow-1
    .tasks.flex-grow-1.p-5
      
      .d-flex.justify-content-between.mb-2
        h3 Tasks
        div.d-flex
          .form-inline.text-center
            input#listId(type="hidden" value=list.id)
            .form-group
              label.mr-2(for="sort") Sort
              select#sort.form-control
                if list.sort == "name,ASC"
                  option(value="name" selected) Name
                else 
                  option(value="name") Name
              
                if list.sort == "dueDate,ASC"
                  option(value="dueDate" selected) Due Date
                else
                  option(value="dueDate") Due Date
        a.btn.btn-primary(href="/task/new" + "?list=" + list.normalized_name) Add
      
      table.table(style="table-layout: auto;")
        thead
          tr 
            th(colspan="3").table-light In Progress
        tbody
          each task in tasks
            if !task.complete
              tr
                td
                td.shadow-hover
                  .d-flex.justify-content-between
                    div
                      h5.m-0.p-0= task.name
                      if task.dueDate
                        if task.dueDateFormatted.past
                          p.text-danger= task.dueDateFormatted.date
                        else
                          p.text-muted= task.dueDateFormatted.date
                    div.d-flex.align-items-center
                      button.completed-unchecked.complete-checkbox(type="checkbox" data-task-id=task.id checked="false")
                      i.fas.fa-ellipsis-h.align-self-center.task-menu.ml-2(id=list.id data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                      .dropdown-menu(aria-labelledby="taskId:"+ task.id)
                        a.dropdown-item(href="/task/edit/" + task.id + "?listId=" + list.id) Edit
                        .dropdown-item.delete-task(data-task-id=task.id) Delete
                td
        thead
          tr
            th(colspan="3").table-light Completed
        tbody
          each task in tasks
            if task.complete
              tr
                td
                td.shadow-hover
                  .d-flex.justify-content-between
                    div
                      h5.m-0.p-0= task.name
                      if task.dueDate
                        p.text-muted= task.dueDateFormatted.date
                    div.d-flex.align-items-center
                      button.completed-checked.complete-checkbox(type="checkbox" data-task-id=task.id checked="true") 
                        i.fas.fa-check
                      i.fas.fa-ellipsis-h.align-self-center.task-menu.ml-2(id=list.id data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                      .dropdown-menu(aria-labelledby="taskId:"+ task.id)
                        a.dropdown-item(href="/tasks/edit/" + task.id) Edit
                        .dropdown-item.delete-task(data-task-id=task.id) Delete
                td